$darkpurple: #0C002B;
$grey: #FAF7F5;
$offwhite: #FFFEFF;
$goldie: #B28451;
$darkgrey: #828d9d;
$lightgrey: #dadde2;
$grid-columns: 12;
$grid-max-width: 1200px; // breakpoint small
$breakpoint-s: "only screen and (min-width: 0px)";
$breakpoint-m: "only screen and (min-width: 768px)";
$breakpoint-l: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
